<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">LikeLion</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/post/list">게시판
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <div class="my-auto" style="padding-right: 10px;">
      <% if user_signed_in? %>
      <a style="color:white"><%= current_user.email %></a>
      <%= link_to 'Edit', edit_user_registration_path, method: 'get' %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: 'get' %>
    <% else %>
      <a href="/users/sign_in" style="padding-right: 10px;">Sign In</a>
      <a href="/users/sign_up">Sign Up</a>
      <% end %>
    </div>
    
  </div>
</nav>